.top-stat {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 15%;
  gap: 100px;
}

.top-header img {
  position: absolute;
  top: 23%;
  left: -16%;
  width: 9%;
  height: auto;
}

.top-header h3 {
  font-size: 32px;
  font-family: "nanum_bold";
  display: flex;
  margin-left: 1%;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.top-header span {
  margin-left: 5%;
  margin-right: 50%;
  flex-shrink: 0;
  color: #ff5c01;
}

.top-header p {
  margin-left: -10%;
  flex-shrink: 0;
  color: #6a737d;
}

.top-activity {
  position: relative;
  display: flex;
  gap: 5%;
  justify-content: space-between;
  border-radius: 15px;
  margin-top: -5%;
  margin-left: -25%;
  width: 1300px;
  padding: 100px;
}

.top-activity-card {
  background-color: #adbcc9;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.fruit {
  background-color: #00c2ff;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.muscle {
  background-color: #778488;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.walk {
  background-color: #ff6347;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.sleep {
  background-color: #72e076;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.noalcohol {
  background-color: #f1d744;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.salad {
  background-color: #87b687;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.water {
  background-color: #1e90ff;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.meditation {
  background-color: #a6da2d;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.massage {
  background-color: #6a5acd;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.fastfood {
  background-color: #dc143c;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.stretching {
  background-color: #ff69b4;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.nuts {
  background-color: #f1b991;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.eat {
  background-color: #ffa500;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card.coffee {
  background-color: #fab17d;
  border-radius: 30px;
  padding: 20px;
  width: 400px;
  color: #fff;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.top-activity-card img {
  top: 5%;
  left: -39%;
  position: relative;
  width: 20%;
}

.top-activity-card p {
  bottom: 40%;
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: lighter;
}

.top-activity-card.sleep p {
  bottom: 40%;
  left: 10%;
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: lighter;
}

.top-activity-card.massage p {
  bottom: 40%;
  left: 10%;
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: lighter;
}

.top-activity-card.coffee p {
  bottom: 40%;
  left: 10%;
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
  font-weight: lighter;
}

.top-activity-card span {
  bottom: 5%;
  left: 35%;
  position: relative;
  display: block;
  margin-top: 10px;
  font-size: 42px;
  font-weight: bold;
}
