.btnWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background-color: white;
  box-shadow: 0px 0px 8px rgb(197, 197, 197);
  border-radius: 40px;
  border: 3px solid transparent;
  transition: all 0.3s ease-in-out;
}

.checked {
  background-color: #effbff;
  border: 3px solid #0090f4;
}
.checked::after {
  content: url("../image/btn/체크2.png");
  position: absolute;
  z-index: 100;
  transform: translate(-200%, -260%);
  transition: all 0.3s ease-in-out;
  animation: appear_after 0.3s forwards;
}
.checked::before {
  content: url("../image/btn/체크.png");
  position: absolute;
  z-index: 100;
  transform: translate(-100%, -100%);
  transition: all 0.3s ease-in-out;
  animation: appear 0.3s forwards;
}

@keyframes appear_after {
  from {
    opacity: 0;
    transform: translate(-200%, -260%) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translate(-200%, -260%) scale(1);
  }
}

@keyframes appear_before {
  from {
    opacity: 0;
    transform: translate(-100%, -100%) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translate(-100%, -100%) scale(1);
  }
}

.btnWrapper:hover {
  box-shadow: 0px 0px 8px rgb(133, 133, 133);
}

.moreBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  background: no-repeat;
  background-image: url("../image/btn/more.png");
}

.moreBtn:hover {
  background-image: url("../image/btn/more.png");
  background-color: rgba(154, 154, 154, 0.2);
}

.btnImg {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  background: no-repeat;
}

.btnName {
  margin-top: 20px;
  font-size: 1.2rem;
}
